ul.features-list
    - var listFeatures = ["ONE", "TWO", "THREE", "FOUR"]
    each item in listFeatures
      li.features-list__item
        p.features-list__item-title= "FEATURE" + " " + item
        p.features-list__item-description Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
