ul.icons-list
  - var socialNetworksList = ["Facebook", "Twitter", "Skype", "Linkedin"]
  each item in socialNetworksList
    li.icons-list__item
      a(href = "#", aria-label="Creatives in" + " " + item)
