ul.news-list
  - for (var x = 0; x < 2; x++)
    li.news-list__item
      .news-list__item-innerwrapper
        time(datetime = "2016-01-04") Jan 4, 2016
        span |
        p In Culture
      p.news-list__item-title Akita Inu Dog
      p.news-list__item-description Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. <br><br> Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere
