header.page-header
  .page-header__outerwrapper
    .page-header__innerwrapper
      a.page-header__logo
        img(src = "./img/logo-company.png", width = "79", height = "75", alt = "Creatives Logo")
      nav.page-header__nav

        include nav-list
        include icons-list

  h1.page-header__title Creatives
  p.page-header__text Power by PSDfreebies.com
  button.page-header__btn Scroll Down
