section.quick-action
  h2.visuallyhidden Quick Action Title
  ul.quick-action__list
    - for (var x = 0; x < 2; x++)
      li.quick-action__item Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
