ul.team-list
  li.team-list__item
    img(src = "./img/john-snow.jpg", width = "270", height = "414", alt="John Snow")
    .team-list__item-innerwrapper
      p.team-list__item-name John Snow
      p.team-list__item-subscription CEO
  li.team-list__item
    img(src = "./img/tim-grow.jpg", width = "270", height = "414", alt="Tim Grow")
    .team-list__item-innerwrapper
      p.team-list__item-name Tim Grow
      p.team-list__item-subscription WebDesigner
  li.team-list__item
    img(src = "./img/david-smith.jpg", width = "270", height = "414", alt="David Smith")
    .team-list__item-innerwrapper
      p.team-list__item-name David Smith
      p.team-list__item-subscription Photographer
  li.team-list__item
    img(src = "./img/lady-sansa.jpg", width = "270", height = "414", alt="Lady Sansa")
    .team-list__item-innerwrapper
      p.team-list__item-name Lady Sansa
      p.team-list__item-subscription Photographer
