- var pageTitle="Creatives"

doctype html

html(lang="en")
  head
    meta(charset = "UTF-8")
    meta(name = "viewport", content = "width=device-width, initial-scale=1.0")
    meta(name = "description", content = "Creatives Digital Agency")
    link(rel = "preload", href = "fonts/Gotham-Bold.woff2", as = "font", crossorigin = "anonymous")
    link(rel = "preload", href = "fonts/Gotham-Book.woff2", as = "font", crossorigin = "anonymous")
    link(rel = "preload", href = "fonts/Gotham-Medium.woff2", as = "font", crossorigin = "anonymous")
    link(rel = "preload", href = "fonts/MyriadPro-Regular.woff", as = "font", crossorigin = "anonymous")
    link(rel = "stylesheet", href = "css/style.min.css")
    title= pageTitle

  body
    include ./blocks/container
